body{
    /*background: #333333;*/
    background:url("../images/body.png") repeat-x;
    background-color: #ebebeb;
    margin: 0px;
    /*width: 100%;*/
    /*height: 100%;*/
    padding: 0px;

}
.shadow{
    /*Shadow Code*/
    /*border-bottom:.909090 3px solid ;*/
    /*border-right: .909090 3px solid;*/
    border:.909090 3px solid;
    color:#333;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=.909090,direction=120,strength=4);/*ie*/
    -moz-box-shadow: 2px 2px 10px .909090;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px .909090;/*safari或chrome*/
    box-shadow:2px 2px 10px .909090;/*opera或ie9*/
}
.clear{
    clear: both;
}
#header{
    height: 222px;
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
#logo{
    position: absolute;
    left: 364px;
    /*margin: 0px auto;*/
    background: url("../images/logo.png");
    width: 552px;
    height: 182px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#headerMenu{
    position: absolute;
    bottom: 10px;
    right: 50px;
    /*margin-bottom: 0px;*//**/
    /*margin-right: 30px;*/
}
#headerMenu li{
    float: left;
    padding: 20px 10px 0px;
    /*border-left: 1px #ddd solid;*/
}
#headerMenu li a{
    color: #c0c0c0;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
h1{
    width: 249px;
    height: 58px;
    background-image: url("../images/h1BG.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    top: 50px;

}
h1 span{
    display: none;
}
h2{
    width: 188px;
    height: 22px;
    background-image: url("../images/h2BG.png");
    background-repeat: no-repeat;
    position: absolute;
    left:370px;
    top: 90px;
}
h2 span{
    display: none;
}
#container{
    /*background: #ebebeb;*/
    /*background: url("../images/container.png");*/
    width: 1280px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    /*height: 100px;*/
    position: relative;
}
#content{
    width: 900px;
    margin: 0 auto;
    position: relative;
}
#topPath{
    margin: 5px auto;
    margin-bottom: 0px;
    width: 900px;
    height: 50px;
    position: relative;
    background: #dd4b39;
}
#path{
    height: 32px;
    position: absolute;
    top: 9px;
    left: 20px;
}
#funcLogo{
    position: absolute;
    top:1px;
    width: 48px;
    height: 48px;
    right: 10px;
}
#path li{
    float: left;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin: 6px;
}
#main{
    width: 880px;
    margin: 0px auto;
    /*height: 702px;*/
    background: #f1f1f1;
    padding: 10px;
}
#mainLeft{
    float: left;
    width: 589px;
    border-right: 1px #d9d9d9 solid;
    padding: 5px;
    /*padding-right: 10px;*/
}
#fileBasicInf{
    width: 550px;
    border-bottom: 1px #d9d9d9 solid;
    /*padding: 10px;*/
    margin: 10px;
}
#fileDetailInf{
    padding: 10px;
}
#typeLogo{
    float: left;
    width: 96px;
    height: 96px;
    margin-right: 10px;
    margin-left: 20px;
}
.tInput{
    background: #ffffff;
    border: 1px #c0c0c0 solid;
    color: #999999;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 5px;
    padding-left: 10px;
}
#title{
    margin-top: 10px;
}
#title,#subTitle{
    /*margin-top: 5px;*/
    /*margin-bottom: 5px ;*/
    margin-left: 20px;
    width: 390px;
}
#attachmentShop{
    width: 540px;
    height: 46px;

}
#attachmentPath{
    float: left;
    width:430px;
}
#addAttachment{
    margin-top: 8px;
}
#tag{
    margin-top: 10px;
    width: 530px;
}
#description{
    margin: 5px;
    width: 536px;
    height: 300px;
    background: #ffffff;
    border: 1px #c0c0c0 solid;
    color: #999999;
    font-weight: bold;

}

/*#main{*/
#mainRight{
    float:right;
    width:270px;
    padding: 5px;
    position: relative;

}
#userInf{
    width: 250px;
    margin: 10px;
}
#userAvater{
    width: 128px;
    height: 128px;
    margin: 10px auto;
}
#owner,#date{
    width: 240px;
    /*margin: 5px auto;*/

}
#uploadBtn{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
    /*width: 910px;*/
    /*height: 900px;*/
    /*margin: 20px auto;*/
    /*float: left;*/
    /*margin: 10px 10px 10px;*/
    /*background: black;*/

/*}*/
/*#sidebar{*/
    /*width: 300px;*/
    /*height: 900px;*/
    /*float: right;*/
    /*margin: 10px 10px 10px;*/
    /*background: black;*/
/*}*/